<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         convertDeprecationsToExceptions="true">
    <testsuites>
        <testsuite name="Graphita Mathematics Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="assert.active" value="1"/>
        <ini name="assert.exception" value="1"/>
        <ini name="assert.bail" value="0"/>
    </php>
</phpunit>